.node-frame
  background-color: lightgrey
  float: left
  margin-left: .5vw

.full-frame
  min-width: 99vw
  max-width: 99vw
  min-height: 82vh
  max-height: 82vh

.base-frame
  min-width: 18vw
  max-width: 18vw
  min-height: 22vh
  max-height: 22vh

.node-frame h2
  font-size: 1em

.node-frame h4
  color: black;
  font-size: .8em

.form-inline
  width: 70%

.form-group
  display: inline
  width: 70%

.input-group
  width: 70% !important

.form-control
  background-color: lightgrey
  border: none
  width: 50% !important

span.input-group-addon
  width: 50px !important
  
.timestamps
  float: right

  h4
    display: inline
    margin: 0 5px 0 5px
